.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 640px;
    height: 640px;
    margin: 0 auto;
    border: solid 2px;
}

.square {
    background-color: lightgray;
    border: 1px solid gray;
}

.square:hover {
    background-color: black;
}